@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.AppFooter {
	background: rgb(125, 132, 119);
	background-size: cover;
	width: 100%;
	background-position: center center;
	height: 250px !important;
	z-index: 1;
	position: relative;
}
.AppHeader .contributor1 .contributor2 .contributor3 {
	text-align: center;
	color: white;
	font-size: 23px;
	font-weight: 600;
	display: block;
}
