@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.AppFooter {
	background: rgb(125, 165, 189);
	background-size: cover;
	width: 100%;
	background-position: center center;
	height: 180px !important;
	z-index: 1;
	position: relative;
}
.AppFooter .challenge {
	text-align: center;
	color: white;
	font-size: 32px;
	font-weight: 600;
	display: block;
}
.AppFooter .contributor1 {
	text-align: center;
	padding-top: 30px;
	color: white;
	font-size: 23px;
	font-weight: 600;
	display: block;
}
.AppFooter .contributor2 {
	text-align: center;
	padding-top: 30px;
	color: white;
	font-size: 23px;
	font-weight: 600;
	display: block;
}
.AppFooter .contributor3 {
	text-align: center;
	padding-top: 30px;
	color: white;
	font-size: 23px;
	font-weight: 600;
	display: block;
}


